.registration_form{
    width: 100%;
    max-width:330px;
    padding: 15px;
    margin:auto;
    height:100%;
}

.login_form{
    width: 100%;
    max-width:330px;
    padding: 15px;
    margin:auto;
    height:100%;
}

.login_button{
    display: inline-block;
    margin: auto;
    text-align:center;
    color: white;
}

.title{
    text-align:center;
}